/* The first page styling  */
/* Navigation bar */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.big-background{
    background-color: rgb(251, 250, 250);
    z-index: 1;
    height: 130vh;
}
#overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    z-index: 2;
}
.background{
    background-image: url('./Assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.brand-name{
    font-size: x-large;
}
.toprow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-top: 15px;
}

li{
    display: inline-block;
}
nav > ul > li > a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;

}
.middle-nav-list,.end-nav-list{
    list-style-type:none;
}
/* Button styling */
button{
    color: white;
    background-color: #23A6F0;
    border: none;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    /* font-size: larger; */
}
/* p{
    position:absolute;
    top: 50%;
    right: 50%;
} */
.middle-text{
    position:absolute;
    top: 50%;
    left: 50%;
    display: flex; 
    flex-direction: column;
    transform: translate(-50%,-50%);
    
}
/* The texts in the first page */
.big{
    font-size: 4em;
    padding-bottom: 10px;
}
.small-text{
    font-stretch: 100%;
    color: whitesmoke;
    /* padding: 10px; */
}
.two-buttons{
    align-items: center;
}
.second{
    align-self: center;
    padding-bottom: 10px;
}
/* Styling of the buttons in the banner  */
.get-quote{
    border-radius: 1.5em;
    padding: 10px 15px;
}
.learn-more{
    border-radius: 1.5em;
    padding: 10px 15px;
    background-color: transparent;
    border: white solid 1.5px;
}
.two-buttons{
   align-self: center;

}
/* Three small boxes styling  */
.three-boxes{
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position:absolute;
    bottom: -6%;
    right: 10%;
    flex-wrap: wrap;
    align-self: center;
    
}
.first-box{
    width: 20%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px grey;
    
}
.second-box{
    width: 20%;
    box-shadow: 2px 2px 5px grey;
    margin: 0px 15px;

}
.third-box{
    width: 20%;
    box-shadow: 2px 2px 5px grey;

}
#icon{
    width: 15%;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:10px;
    background-color: white;
   
}
/* This is the styling for the second mini page */
.second-mini-page{
    
    display: flex;
    flex-direction: row;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
    

.second-mini-page div{
    padding: 20px;
    width: 23%;
}
#mini-images{
    width: 15%;
}
.second-mini-page > div > p{
    overflow-wrap: break-word;
}
/* The industry page styling */

.big-div{
    background-color: rgb(251, 250, 250);
}
.title1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.title1{
    padding: 50px 0px 20px 0px;
    text-align: center;
}
.title1 h1{
    padding-bottom: 10px;
}
/* The three other cards */
.the-three-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;

}
.the-three-cards div{
    border: rgb(121, 118, 118) solid 1px;
    border-radius: 5px;
    margin: 40px;
    text-align: center;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
    
}
.the-three-cards img{
    width: 60%;
    padding:10px
}
.the-three-cards p{
    padding-bottom: 20px;
    padding-top: 15px;
}
.checked{
    color: orange;
    
}


.non-check{
   color: #a0a1a7;
}
/* Styling the company icons */
.company-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}
.company-icons img{
    width: 5%;
}
/* The colorful styling */
.big-colorful{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.colorful{
    color: white;
    width: 90%;
    /* height: 20%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,rgb(28,70,138),rgb(195,47,34));
}
.letters p{
    
}
#name{
 
    
}
.subscribe-thing button{
    
}
/* Pricing the styling of it */
.title1 p{
    margin-bottom: 50px;
}
.long{
    border: 1px #23A6F0 solid;
    display: flex;
    flex-direction: column;

}
.data3>.digits>p{
    font-size: 35px;
}
.data3{
    display: flex;
    align-items: center;
}
.long-cards{
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.data2,.data1{
    text-align: center;
    padding: 20px;
}
.long2{
    background-color: rgb(38, 43, 64);
    transform: scale(1.14);
    color: white;
    margin: 0px 19px;
}
.data4 button{
    width: 80%;
    align-self: center;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10vh;
}
.footer table{
    border-collapse: separate;
    border-spacing: 5px ;
}
td,th{
    width: 25vh;
    height: 4vh;
    vertical-align: middle;
    text-align: left;
}
td{
    color: rgb(121, 118, 118);
}