/* The first page styling  */
/* Navigation bar */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
    background-image: url('./Assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.brand-name{
    font-size: x-large;
}
.toprow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-top: 15px;
}

li{
    display: inline-block;
}
nav > ul > li > a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;

}
.middle-nav-list,.end-nav-list{
    list-style-type:none;
}
/* Button styling */
button{
    color: white;
    background-color: #23A6F0;
    border: none;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    /* font-size: larger; */
}